.container {
  margin: 0 auto;
  background-color: #fdd2e4;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
}

/* .contrastContainer {
  margin: 0 auto;
  max-width: 800px;
  height: 1000px;
  background-color: #e9ebee;
  border-radius: 10px;
  position: relative;
  top: 100px;
} */

.pageContent {
  position: relative;
  left: 260px;
}

.App-logo {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.appName {
  font-weight: 650;
  font-size: 90px;
  color: #5a6275;
}

footer {
  font-size: 30px;
  padding: 40px;
}

a {
  color: slateblue;
}
