.Phonetic {
  height: 70px;
}

.phoneticsLink {
  font-size: 30px;
  font-weight: 500;
  border: 1px solid #d9a4c3;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.phoneticsLink:hover {
  background: #d9a4c3;
  color: white;
}

span {
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 500;
  opacity: 0.7;
}
