section .singleSectionOne {
  background: #d6d8d9;
  border-radius: 4px;

  box-shadow: 10px 10px 2px 1px rgba(150, 133, 166, 0.792);
  padding: 20px;
  font-size: 25px;
}

section .singleSectionTwo {
  box-shadow: 10px 10px 2px 1px rgba(210, 154, 188, 0.837);
  border-radius: 4px;
  background: #beccd3;
  padding: 20px;
  font-size: 25px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: capitalize;
}
